table {
	border: 1px solid silver;
	display: flex;
	flex-direction: row;
	border-radius: 10px;
}

.table__item-image {
	max-width: 120px;
	border-radius: 10px;
}

.table__item-bottom {
	margin-left: 20px;
}

.item__button {
	margin-left: 5px;
}
