.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #3a3a3a;
	text-align: left;
	border-radius: 10px;
}

.item__image {
	max-height: 240px;
	border-radius: 10px 10px 0 0;
}

.item,
.item__image {
	max-width: 230px;
}

.item__content {
	padding: 15px;
}

.item__name {
	margin: 10px 0 10px;
}

.item__star {
	cursor: pointer;
}

.item__star-active {
	cursor: pointer;
	fill: #ed8a19;
	color: #ed8a19;
}

.item__bottom {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.item__price {
	font-weight: bold;
}

.item__button {
	text-transform: uppercase;
	color: rgb(224, 224, 224);
	background-color: #302f2f;
	border: none;
	border-radius: 4px;
	font-size: 12px;
	cursor: pointer;
}

#t {
	display: none;
}
