.cartForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid silver;
	margin-top: 50px;
	margin-bottom: 50px;
}

label {
	text-transform: capitalize;
	font-weight: 600;
	color: rgb(230, 62, 62);
}

input {
	margin-bottom: 8px;
	border-radius: 8px;
	border: 1px solid #b7b7b7;
}

h3 {
	font-weight: bold;
	font-size: 24px;
}

button[type="submit"] {
	padding: 10px;
	border: none;
	border-radius: 10px;
	margin-bottom: 10px;
}
